html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: auto;
  color: black;
}

* {
  box-sizing: border-box;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

.learn-more-button {
  padding: 0.5em 1.2em;
  border: 2px solid #fe9adf;
  color: #fe9adf;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.learn-more-button:hover {
  background-color: rgba(247, 194, 215, 0.1);
}

nav a,
nav button {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fe9adf;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  padding: 0;
  text-align: left;
}

nav a:hover,
nav button:hover {
  transform: translateX(5px);
  color: #fe9adf;
}

nav button.collabs-link {
  font-weight: bold;
}

nav button:focus {
  outline: none;
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #fed1f0;
  opacity: 0.7;
  position: relative;
  transition: transform 0.2s ease, opacity 0.1s ease;
}

.back-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fed1f0;
  transition: width 0.2s ease;
}

.back-button:hover {
  transform: translateX(5px);
  opacity: 1;
}

.back-button:hover::after {
  width: 100%;
}

.back-button:focus {
  outline: none;
}

.back2-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #fe9bdf;
  opacity: 0.8;
  position: relative;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.back2-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fe9bdf;
  transition: width 0.2s ease;
}

.back2-button:hover {
  transform: translateX(5px);
  opacity: 1;
}

.back2-button:hover::after {
  width: 100%;
}

.back2-button:focus {
  outline: none;
}
