html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: auto;
  color: black;
}

* {
  box-sizing: border-box;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

.learn-more-button {
  padding: 0.5em 1.2em;
  border: 2px solid #fe9adf;
  color: #fe9adf;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.learn-more-button:hover {
  background-color: rgba(247, 194, 215, 0.1);
}

nav a,
nav button {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fe9adf;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  padding: 0;
  text-align: left;
}

nav a:hover,
nav button:hover {
  transform: translateX(5px);
  color: #fe9adf;
}

nav button.collabs-link {
  font-weight: bold;
}

nav button:focus {
  outline: none;
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #fed1f0;
  opacity: 0.7;
  position: relative;
  transition: transform 0.2s ease, opacity 0.1s ease;
}

.back-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fed1f0;
  transition: width 0.2s ease;
}

.back-button:hover {
  opacity: 0.9;
}

.back-button:hover::after {
  width: 100%;
}

.back-button:focus {
  outline: none;
}

.back2-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #fe9bdf;
  opacity: 0.8;
  position: relative;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.back2-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fe9bdf;
  transition: width 0.2s ease;
}

.back2-button:hover {
  opacity: 1;
}

.back2-button:hover::after {
  width: 100%;
}

.back2-button:focus {
  outline: none;
}

.back3-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #f170a2;
  opacity: 0.8;
  position: relative;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.back3-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f170a2;
  transition: width 0.2s ease;
}

.back3-button:hover {
  opacity: 1;
}

.back3-button:hover::after {
  width: 100%;
}

.back3-button:focus {
  outline: none;
}
.collabs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  gap: 4em;
}

.collabs-grid iframe {
  justify-self: center;
  border: 0;
  width: 21.875rem;
  height: 29.375rem;
  margin: 4rem;
}

.learn-more-button {
  padding: 0.5em 1.2em;
  border: 2px solid #fe9adf;
  color: #fe9adf;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.learn-more-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(254, 154, 223, 0.1);
  transition: all 0.3s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.learn-more-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.learn-more-button:hover {
  color: #fff;
  background-color: #fe9adf;
  box-shadow: 0 0 10px rgba(254, 154, 223, 0.5),
    0 0 20px rgba(254, 154, 223, 0.3);
}
